* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  padding: 20px;
}
@media (max-width: 992px) {
  body {
    padding: 15px;
  }
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button,
input {
  border: none;
  outline: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1250px) {
  .container {
    width: 100%;
  }
}

